<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bluescreen1.poat" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- AlarmReceiver -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".PoatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/App2Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".PoatProvider"
            android:authorities="bluescreen1.poat.app" >
        </provider>


        <activity
            android:name=".Courses.NewCourse"
            android:label="@string/course"
            android:parentActivityName=".MainActivity"
            android:theme="@style/App2Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bluescreen1.poat.MainActivity" />
        </activity>
        <activity
            android:name=".Courses.CourseDetailsActivity"
            android:label="@string/title_activity_course_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/App2Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bluescreen1.poat.MainActivity" />
        </activity>
        <activity
            android:name=".Assignments.NewAssignment"
            android:label="@string/assignments"
            android:parentActivityName=".MainActivity"
            android:theme="@style/App2Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bluescreen1.poat.MainActivity" />
        </activity>
        <activity
            android:name=".Assignments.AssignmentDetailsActivity"
            android:label="@string/title_activity_assignment_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/App2Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bluescreen1.poat.MainActivity" />
        </activity>

        <receiver android:name=".utils.AlarmReceiver" />
        <receiver
            android:name=".utils.BootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.SchedulingService" />

        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
