<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="index.html" ><img id="logo" class="navbar-brand" src="images/POAT_light_noback.png" /></a>
		</div>
		<div class="collapse navbar-collapse pull-left col-md-10">
			<ul class="nav navbar-nav">
				<li>
					<a href = "index.html">Home<span class="sr-only">(current)</span></a>
				</li>
				<li>
					<a href = "about.html">About<span class="sr-only">(current)</span></a>
				</li>
				
				<li>
					<a href = "download.html">Download<span class="sr-only">(current)</span></a>
				</li>
				
				
			</ul>
		</div>
		<div class="pull-right col-md-1">
			<button class="btn btn-info" id="login_btn" ng-click="">Login</button>
		</li>
	</div>
</nav>