.header {
    background: #6a6a6a;
    color: #ffffff;
    
}

body{
    
 padding : 10px;
 padding-top: 0px;   
    
}

div.accordionStyle .panel-default >.panel-heading {
    background-color: white;


}
.panel{
		border:0;
}

#navigation_drawer {
	border :1px solid #cfcfcf;
	border-radius: 10px;
}

div ul li {
	font-size: 20px;
}

img#logo{
	
	padding-right: 50px;
	min-height: 200%;
	min-width: 200%;
	
}