.header {
    background: #6a6a6a;
    color: #ffffff;
    
}


div.accordionStyle .panel-default >.panel-heading {
    background-color: white;


}
.panel{
		border:0;
}

#navigation_drawer {
	padding: 10px;
	border-radius: 3px;
	min-height : 75%;
	margin: 10px;
}

div ul li {
	font-size: 20px;
}

img#logo{
	
	padding-right: 50px;
	min-height: 200%;
	min-width: 200%;
	
}

#navigation_drawer .main_filter{
	
	font-size: 15px;
	
}


#navigation_drawer .sub_filter{
	font-size: 12px;
	padding: 5px;
	cursor: pointer;
	margin: 3px;
	padding-left: 15px;
	
}

#navigation_drawer .sub_filter:hover{
	strong;
	text-decoration: none;
	background-color : #ffffff;
	
}

.sub_filter.active{
	
	background-color : #e8e8e8;
	
}



body {
	
	background-color: #f0f0f0;
	font-family: Quicksand;
	
}

#main_body{
	
	background-color: #ffffff;
	min-height : 75%;
	
}

#main_table_title{
	strong;
	font-size: 20px;
	margin-top: 20px;
	
}

#home_container{
	
	margin : 20px;
	background-color: #ffffff;
	
}

.homepage_item{
	margin:10px;
	background-color: #fdfdfd;
	
	
}




.large-images{

    width: 100%;

    margin-left: 0px;

    margin-right: 0px;
	
	padding: 5px;

    position: relative;
	
	background-color: #87CDDE;

}

#first_home .large-images{

    height: 528px;
	max-width: 100%;


}

.large-images .image{

	position:absolute;

	height: 528px;

	top:0;

}

#first_home .large-images .image{

right:198px;

}

img {
  max-width: 100%;
  max-height: 100%;

  vertical-align: bottom;
}

.large-images .message{

    position: absolute;

    width: 280px;

    font-family: Quicksand;

    font-size: 50px;

    color: #3a3a3a;

    line-height: 48px;

}

#first_home .large-images .message{

    left: 30px;
	
    top: 110px;

}


.contentainer {
	
	background-color: #ffffff;
	margin: 10px;
	
	
}


.contentainer .heading{
	
	font-size: 40px;
	color : #00b7e7;
	
}


